.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #2F3C7E;
}

h1{
  margin-bottom: 0;
  margin-top: 1vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.text-input {
  text-align: start;
  margin: 1vh;
  font-size: 25px;
  height: 20vh;
  width: 80vw;
  display: block;
  word-break:break-word;
}

.text-preview {
  height: 20vh;
  width: 80vw;
  background-color: #FBEAEB;;
  margin: 1vh;
  margin-bottom: 0;
  color: #2F3C7E;
  border: 2px solid white;
  white-space: normal;
  display: block;
  word-break:break-word;
  font-size: 40px;
  overflow-y: auto;
}

.code-preview {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 30px;
  width: 40%;
  font-family: 'Courier New', Courier, monospace;
  height: 5vh;
}

.App-header {
  background-color:  #26316898;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  white;
}

.code-input {
  height: auto;
  width: 100%;
  background-color:  #FBEAEB;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

ol{
  text-align: start;
  margin-top: 0;
  font-size: 20px;
}

.label{
  color: white;
  font-size: 20px;
  margin: 0;
}

.App-body {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #2F3C7E;
  box-shadow:#263168cb inset 0px 0 20px 5px; 
  flex-direction: column;
  align-items: center;
}

.code-number {
  background-color: grey;
  width: 5vh;
  height: 5vh;
  text-align: center;
  margin: .3vh;
  display: flex;
  flex-shrink: 3;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.backbutton {
  background-color: rgb(196, 196, 196);
  width: auto;
  height: 5vh;
  font-weight: 800;
  text-align: center;
  margin: .3vh;
}

button {
  width: auto;
  margin: 2vh;
  height: 4vh;
  font-size: 20px;
  font-weight: 500;
}


