@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@keyframes disappear {
  0% {
    opacity: 100%;
    filter: blur(0px);
    width: 100%;
    transform: translateY(0px)
  }
  100% {
    opacity: 0%;
    filter: blur(20px);
    width: 20%;
    transform: translateY(-100px)
  }
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #59253a;
}

.entry-banner{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3000;
  background-color: rgba(255, 255, 255, 0.103);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text{
  width: auto;
}

#header-section{
  width: 100%;
  height: 300%;
  display: relative;
}

.icon-container{
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: flex-end;

}

.help-icon{
  font-family: 'Pacifico', 'Arial';
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid 1px;
  border-radius: 50px;
  cursor: pointer;
}

.help-icon:hover{
color:#0677A1;
border-color: #0677A1;
}

.entry-header{
  font-size: 30px;
  color: #6698aa;
}

.clickable{
  cursor: pointer;
}

.hidden{
  display: none;
}

.entry-button{
  margin: 20px;
}
.entry-window{
  height: auto;
  width: auto;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 5px;
  box-shadow: inset white 0px 0px 10px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  margin-bottom: 0;
  margin-top: 1vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  
}

.secret-text{
  font-family: 'Rubik Maze';
  font-weight: 100;
}

.secret-text:hover{
  opacity: 20%;
  animation: disappear;
  animation-duration: 5s;

}

.text-input {
  text-align: start;
  margin: 1vh;
  font-size: 20px;
  height: 20vh;
  width: 80vw;
  display: block;
  word-break:break-word;
  box-shadow:#2D4159 inset 0px 0 20px 5px; 
}
.header-special{
  font-family: 'Pacifico';
}

.text-preview {
  height: 20vh;
  width: 80vw;
  background-color: #0678a183;
  margin: 1vh;
  margin-bottom: 0;
  color: white;
  white-space: normal;
  display: block;
  word-break:break-word;
  font-size: 25px;
  overflow-y: auto;
}

.code-preview {
  background-color: black;
  color: white;
  font-size: 30px;
  width: 40%;
  font-family: 'Courier New', Courier, monospace;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color:  #59253a;
  display: flex;
  height: auto;
  width: 100%;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(89px + 2vmin);
  color:  white;
}

.code-input {
  margin: 8px;
  height: auto;
  width: 100%;
  background-color:  #59253A;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.options-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.options {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-options {
  width: 15%;
}

.right-options {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

ol{
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  color: #8ea9b3;
}

.label{
  color: white;
  font-size: 15px;
  margin: 0;
}

.App-body {
  height: 100%;
  width: 100%;
  display: flex;
  background-color:  #59253a;
  flex-direction: column;
  align-items: center;
}

.code-number {
  text-shadow: 0 1px 2px black;
  box-shadow: #2D4159 inset 0px 0 20px 5px; 
  color: #0677A1;
  background-color: rgba(255, 255, 255, 0.5);
  border: black solid 2px;
  width: 5vh;
  height: 5vh;
  text-align: center;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.backbutton {
  cursor: pointer;
  background-color: rgb(196, 196, 196);
  width: auto;
  height: 5vh;
  font-weight: 800;
  text-align: center;
  margin: .3vh;
}

button {
  width: auto;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.63);
  cursor: pointer;
  }
  
  button:hover{
    border: none;
    padding-top: 4px;
    background-color: #f9f8fcdc;
}

.option-button{
  margin: 5px;
  font-size: 30px;
  height: 40px;
  font-family:  'Courier New', Courier, monospace;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .App {
    text-align: center;
    width: 100%;
    height: 100%;
}

  .entry-window{
    width: 80%;
    height: 80%;
  }

  .entry-header{
    font-size: 20px;
  }

  ol{
    font-size: 15px;
  }

  .header-text{
    font-size: 50px;
  }
}

